@import "tailwindcss";

@theme {
  --font-default-mono: "Geist Mono", monospace;
  --font-default: "Geist", sans-serif;

  --color-text: #d7eafc;

  --color-background: #01070d;
  --color-background-light: #1e2939;

  --color-primary: #80baf5;
  --color-secondary: #3a0c9a;

  --color-accent: #a522ed;
  --color-accent-light: #c064f2;
}

html {
  color: var(--color-text);

  color-scheme: dark light;
}
